.text-custom {
    font-size: 12.5px; /* Adjust font size as needed */
    color:rgb(145, 140, 140)/* Gray pastel color */
     /* Space between characters */
    
   

}
.text-review {
    
    color:rgb(145, 140, 140)/* Gray pastel color */
     /* Space between characters */
    
}

.text-right {
    text-align: right !important;
}
.title{
    font-size:15px;

}
.img{
    border-radius: 50%;
    width: 30px;
    height:30px
}


.black{
    color: black;
    text-decoration: none !important;
}
.rose{
    text-decoration: none !important;
    color: rgb(212, 102, 90);
}
.button1{
    background-color:rgb(212, 102, 90) ;
    border-radius: 5px;
    border: none;
    height: 40px; 
    width: 100px;
    color: white;
    font-weight: 700;
}
.button2{
    border-radius: 5px;
    border: none;
    height: 40px; 
    width: 100px;
    font-weight: 700;

}
.fonts{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;

}
.titleicone{
    width:45px;
    height: 45px;
}
.log-icone{
    width:50px;
    height:40px;

}

.text-with-margin {
        margin: left 50px/* Adds 30px margin to the left side */
      }
  .saveicone{
    height:46px;
    width:50px;

  }

  .vertical-line {
    border-right: 2px solid black; /* Adds a vertical line to the right */
    padding-right: 10px; /* Adds space between the text and the line */
    margin-right: 20px; /* Optional: Adds space between the paragraphs and other content */
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  /* Styling for the custom checkbox */
  input[type="checkbox"]:checked {
    background-color: rgb(212, 102, 90);
    border-color: rgb(212, 102, 90);
  }

  /* Checkmark styling */
  input[type="checkbox"]:checked::before {
    content: "✓";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* Style the checkbox on hover */
  input[type="checkbox"]:hover {
    border-color: rgb(212, 102, 90);
  }

  /* Checkbox Label Alignment */
  .form-check-label {
    margin-left: 8px;
    font-size: 1.25rem;
  }

.image-salaad{
  width: 600px;
  height: 600px;
}
.script-recette{
  max-width: 700px;
}
.comments{
  width: 1000px
}
.rght{
  margin-left: 250px;
}
.Instructions{
  font-size: 1.25rem
}
.little-title{
  font-size: 50px
}
.Ingredients{
  font-size: 0.75rem
}
.nutrition-facts{
  width: 500px;
}
.element {
  display: block;
}
.caards{
  width: 20rem

}
.image-cards{
  height: 200px; 
  width: 319px

}
@media (max-width: 600px) {
    .text-custom {
        font-size: 10px; /* Adjust font size as needed */
        color:rgb(145, 140, 140)/* Gray pastel color */
         /* Space between characters */
    }
    .image-salaad{
      width: 200px;
      height: 200px;
    }
    .script-recette{
      max-width: 200px;
    }
    .yoo{
      display: flex;
      flex-wrap:wrap ;
    }
    .comments{
    width: 300px
    }
    .rght{
      margin-left: 10px;
    }
    .Instructions{
      font-size: 0.75rem
    }
    .Ingredients{
      font-size: 0.75rem
    }
    .little-title{
      font-size: 20px
    }
    .nutrition-facts{
      width: 300px;
    }
    .Nutriton{
      margin-right: 20px;
    }
    .element {
      display: none; 
  }
  .caards{
    width: 20rem
  
  }
  .image-cards{
    height: 200px; 
    width: 319px
}
} 